@media (min-width:320px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }


    main {
        display: flex;
        flex-direction: column;

    }


    header {
        display: flex;
        align-items: center;
        width: 40%;
        margin: auto;
        transform: translateY(20px);
    }


    .home {
        width: 90%;
        height: 95%;
        background-color: white;

    }

    .img-bank {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .title {
        font-size: 35px;
        letter-spacing: -2px;
        padding: 4px 10px;
        
    }


    .img-bank,
    .title{
        transform: translateY(60px);
    }


    .section {
        
        display: flex;
        justify-content: center;
       
        flex-direction: column;
        margin: 10px;
        transform: translateY(50%);
    }


    .btn {
        background-color: white;
        justify-content: center;
        border: none;
        width: 50%;
        height: 57px;
    }
    

    .items {
        text-decoration: none;
        align-items: center;
        border: none;
        font-size: 30px;
        width: 100%;
        padding: 17px;
    }


    .items:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }


    .sign-up {
        
        display: flex;
        justify-content: center;
        width: 100%;
        transform: translateY(200px);
    }


    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        
        
        font-size: 20px;
        width: 100%;
        padding: 16px;
        border-radius: 7px;
    
    }


    .btn-sign-up:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }

}


@media (min-width:375px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }


    main {
        display: flex;
        flex-direction: column;
    }


    header {
        display: flex;
        align-items: center;
        width: 40%;
        margin: auto;
       
    }


    .home {
        width: 90%;
        height: 95%;
        background-color: white;

    }

    .img-bank {
        width: 50px;
        height: 50px;
        margin: 5px;
    }


    .title {
        font-size: 35px;
        letter-spacing: -2px;
        padding: 4px 10px;
    }

    .section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        
    }

    .btn {
        background-color: white;
        display: flex;
        justify-content: center;
        

        border: none;
    }

    .items {
        text-decoration: none;
        color: black;
        font-size: 30px;
        
        padding: 10px 15px;
    }

    .items:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }

    .sign-up {
        display: flex;
        justify-content: center;
        transform: translateY(200px);

    }

    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        padding: 16px 10px;
        border-radius: 5px;
    }

    .btn-sign-up:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }

}


@media (min-width:425px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }


    main {
        display: flex;
        flex-direction: column;

    }


    header {
        display: flex;
        align-items: center;
        width: 40%;
        margin: auto;
        transform: translateY(20px);
    }


    .home {
        width: 100%;
        height: 100%;
        background-color: white;

    }

    .img-bank {
        width: 25px;
        height: 25px;
        margin: 5px;
    }


    .title {
        font-size: 25px;
        letter-spacing: -2px;
        padding: 4px 10px;
    }

    .section {

        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        transform: translateY(35px);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        border: none;
    }

    .items {
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 15px;
    }

    .items:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }

    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 8px 5px;
        transform: translateY(50px);

    }

    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 7px 10px;
        border-radius: 5px;
    }

    .btn-sign-up:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }

}


@media (min-width:570px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }

    main {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }


    header {
        display: flex;
        padding: 10px;
    }


    .home {
        width: 100%;
        height: 100%;
        background-color: white;
    }


    .img-bank {
        width: 40px;
        height: 40px;
        margin: 5px;
    }


    .title {
        font-size: 35px;
        letter-spacing: -2px;
        padding: 4px 10px;
    }


    .img-bank,
    .title {
        margin: 0 px;
    }


    .section {
        background-color: brown;
        display: flex;
        justify-content: center;

        margin: 30px;
        transform: translateY(50px);

    }


    .btn {

        background-color: white;
        border: none;
        width: 20%;
        height: 50px;

    }



    .items {
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 700;
        width: 100%;
        padding: 15px;

    }



    .items:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);

    }


    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 8px 5px;

    }

    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 10px;
        border-radius: 5px;
    }


    .btn-sign-up:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);

    }
}


@media (min-width:768px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }

    main {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }


    header {
        display: flex;
        padding: 10px;
    }


    .home {
        width: 100%;
        height: 100%;
        background-color: white;
    }


    .img-bank {
        width: 40px;
        height: 40px;
        margin: 5px;
    }


    .title {
        font-size: 35px;
        letter-spacing: -2px;
        padding: 4px 10px;
    }


    .img-bank,
    .title {
        margin: 0 px;
    }


    .section {
        background-color: brown;
        display: flex;
        justify-content: center;

        margin: 30px;
        transform: translateY(50px);

    }


    .btn {

        background-color: white;
        border: none;
        width: 20%;
        height: 50px;

    }



    .items {
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 700;
        width: 100%;
        padding: 15px;

    }



    .items:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);

    }


    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 8px 5px;

    }

    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 10px;
        border-radius: 5px;
    }


    .btn-sign-up:hover {
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);

    }
}

/* @media (min-width:992px){}*/


/* @media (min-width:1200px){}*/