/* @media (min-width:320px) */
/* @media (min-width:375px) */
/* @media (min-width:425px) */

@media (min-width:768px) {
    body {
        font-family: 'Open Sans', Verdana, sans-serif;
        background-color: rgb(241, 241, 240);
    }

    main {
        background-color: cadetblue;
        display: flex;
        flex-direction: row;
        margin: 15px;
    
    }


    header {
        
        display: flex;
        width: 50%;
        
        padding: 10px;
    }


    .home {
        display: flex;
        width: 195vh;
        background-color: white;
    }


    .img-bank {
        width: 30px;
        height: 30px;
        margin: 5px;
    }


    .title {
        font-size: 25px;
        letter-spacing: -2px;
        padding: 4px 10px;
    }

    .img-back,
    .title{
        margin: 0 px;
    }


    .section {
        background-color: brown;
        display: flex;
        margin: 15px;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: white;
        border: none;
    }


    .items {
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding:10px 20px;
        
    }

    
    .items:hover{
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    }


    .sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding:5px;

    }

    .btn-sign-up {
        text-decoration: none;
        justify-content: center;
        color: black;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 8px;
        border-radius: 5px;
    }

    .btn-sign-up:hover{
        background-color: var(--color-button);
        color: white;
        transform: scale(1.02);
    


}


@media (min-width:992px) {}


@media (min-width:1200px) {}