body {
    font-family: Verdana, sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;

}

div {
    background-color: aquamarine;
    height: 450px;
    border: 1px solid #000000;
    border-radius: 15px;
}


header {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;

}

.title {
    display: flex;
    justify-content: center;
}

.img-bank {

    display: flex;
    width: 35px;

}

.title,
.img-bank {
    margin: 5px;
}

.section {
    display: flex;
    justify-content: center;

}

.item{
    display: flex;
    justify-content: center;
    
    width: 70px;
    height: 30px;
}
