body {
    font-family: 'Open Sans', Verdana, sans-serif;
    background-color: rgb(219, 219, 218);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.home {
    width: 220px;
    height: 430px;
    background-color: white;
}

.img-bank {
    width: 25px;
    margin: 5px;
}

.title {
    font-size: 25px;
    letter-spacing: -2px;
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    transform: translateY(37px);
}



.btn {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100px;
    margin: 4px;
    border: none;
}


.items {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    width: 100px;
    padding: 8px 10px;
}

.items:hover{
    background-color: var(--color-button);
    color: white;
    transform: scale(1.02);
}


.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(60px);
}

.btn-sign-up {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
}

.btn-sign-up:hover{
    background-color: var(--color-button);
    color: white;
    transform: scale(1.02);
}