body {
    font-family: 'Open Sans', Verdana, sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.home {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    border: 1px solid;
}

.img-bank {
    width: 30px;
    margin: 5px;
}

.title {
    font-size: 35px;
}


.section {
    background-color: brown;
    width: 60%;
    height: 70%;
    margin: auto;
    display: flex;
    
    justify-content: center;
    transform: translateY(40px);
}


.btn {
    background-color: var(--color-button);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 2px;
}


.items{
    text-decoration: none;
    color: black;
    font-weight: 700;
   
}

.btn:hover{
    color:white;
    transform: scale(1.10);
    cursor: pointer;
}


/* .itens:hover {
    color:white;
    transform: scale(1.10);
    cursor: pointer;
} */




/* .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
} */

/* .btn-sign-up {
    background-color: var(--color-button);
    text-decoration: none;
    border: none;
    border-radius: 5px;
} */
